/* font family style */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
body{
    font-family: "Inter", sans-serif;
}
/* font family style end */

/* universal elements */
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

/* shared button */
.btn-primary{
    border-radius: 5px;
    background: rgb(255, 89, 89);
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 400;
    padding:9px 8px 9px 8px;
    border:none;

}
/* donate-container style start */
.donate-container{
    width:100%;
    height:600px;
    
    margin:0 auto;
    background-image:linear-gradient(0.00deg, rgb(18, 18, 18),rgba(18, 18, 18, 0) 100%),url(../images/donation1.jpg);
    background-repeat: repeat;
    background-size: cover;
}
.donate-title{
    color: rgb(255, 255, 255);
    font-size: 35px;
    font-weight: 700;

}
.donate-subscription{
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 400;

}
.donate-content{
    height:500px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    gap:25px;
    text-align: center;
    margin-top:50px;
}
/* donate-container style end */

/* donate-collection style start */
.donate-collection{
    width:90%;
    height:300px;
    
    margin:0 auto;
    margin-top:100px;
    margin-bottom:100px;
    
}
.content{
    text-align:center;
    margin-bottom:30px;
}
.collection-title{
    color: rgb(18, 18, 18);
    font-size: 30px;
    font-weight: 700;

}
.collection-subscription{
    color: rgb(112, 112, 112);
    font-size: 14px;
    font-weight: 400;

}
.tk{
    padding:15px 10px 15px 10px;
    font-weight:600;
    font-size:18px;
    color:gray;
    
    border:none;
    gap:10px;
    
    
}
.pakna{
    
    background-color: bisque;
}
.taka{
    text-align:center;
    margin-bottom:30px;
}
.amount{
    color: rgb(179, 179, 179);
    font-size: 14px;
    font-weight: 400;
    margin-bottom:10px;

}
.hr{
    width:30%;
    margin-left:475px;
    margin-bottom:50px;
    
}
.other-tk{
    text-align:center;
}
/* donate-collection style end */

/* donate plane start */
.plan-container{
    width:90%;
    height:450px;
    
    margin:0 auto;
    margin-bottom:100px;
}
.plan-content{
    text-align:center;
}
.service{
    width:100%;
    height:300px;
    
    display:flex;
    margin-top:78px;
    gap:20px;
}
.food{
    width:33%;
    height:300px;
    
    padding:20px;
    border-radius: 5px;
    background: rgba(79, 157, 166, 0.1);
    
}
.family{
    width:33%;
    height:300px;
    
    padding:20px;
    border-radius: 5px;
    background: rgba(255, 89, 89, 0.1);
}
.education{
    width:33%;
    height:300px;
    
    padding:20px;
    border-radius: 5px;
    background: rgb(255, 244, 214);
}
.same{
    color: rgb(18, 18, 18);
    font-size: 22px;
    font-weight: 600;
    margin-top:30px;

}
.para{
    color: rgb(112, 112, 112);
    font-size: 14px;
    font-weight: 400;
    margin-top:30px;

}
.food img, .family img, .education img{
    margin-top:40px;
}
.avareg{
    margin-top: 15px;
}
/* donate plan end */

/* live donation start */
.live-donation{
    width:90%;
    height:300px;
    
    margin:0 auto;
    margin-top:100px;
    margin-bottom:100px;

}
.live-content{
    width:45%;
    height:300px;
    
}
.live-pic{
    width:45%;
    height:300px;
    
}
.live-donation{
    display:flex;
    gap:40px;
}
.live-title{
    color: rgb(18, 18, 18);
    font-size: 30px;
    font-weight: 700;

}
.live-subscription{
    color: rgb(112, 112, 112);

font-size: 16px;
font-weight: 400;
margin-top:15px;
margin-bottom:15px;

}
.live-pic img{
    width:100%;
    height:300px;
}
.survive{
    width:90%;
    height:300px;
    
    margin:0 auto;
    margin-top:100px;
    margin-bottom:100px;
    display:flex;
    gap:20px;

}
.footer{
    width:100%;
    height:150px;
    background-color:black;

}
.footer h4 {
    text-align:center;
    
    color:tomato;
    padding-top:40px;
}
.footer p{
    color:green;
    text-align:center;
    margin-top:60px;
}
